[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
openapi = "*"
drf-yasg = "*"
celery = "*"
utils = "*"
pyjwt = "*"
django-fsm = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.6"
